<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrow a Book</title>
</head>
<body>
    <h1>Borrow a Book</h1>
    <form th:action="@{/student/borrow-book}" method="post">
        <div>
            <label for="studentId">Student ID:</label>
            <input type="number" id="id" name="id" required />
        </div>
        <div>
            <label for="studentName">Name:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div>
            <label for="studentEmail">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div>
            <label for="studentPhone">Phone No:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required />
        </div>
       <div>
    <label for="bookId">Select Book:</label>
    <select id="bookId" name="bookId" required>
        <option value="">Select a Book</option> <!-- Default empty option -->
        <option th:each="book : ${availableBooks}" th:value="${book.id}" th:text="${book.title}"></option>
    </select>
</div>
        <div>
            <button type="submit">Borrow</button>
        </div>
    </form>
</body>
</html>
