<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <h1>Add Book</h1>
    <form th:action="@{/admin/add-book}" method="post">
        <div>
            <label for="bookId">Book ID:</label>
            <input type="number" id="id" name="id" required />
        </div>
        <div>
            <label for="bookName">Book Name:</label>
            <input type="text" id="title" name="title" required />
        </div>
        <div>
            <button type="submit">Add Book</button>
        </div>
    </form>
</body>
</html>
